* {
  box-sizing: border-box;
}

/* NAVAGATION_BAR */
.top-navigation-bar {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  position: fixed;
  top: 0px;

  width: 100%;

  background-color: #545e63ee;
  z-index: 10;
}

.navigation-buttons {
  margin-right: 20px;
}

.navigation-buttons ul {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: end;
  align-items: baseline;

  width: 100%;
  gap: 20px;
  list-style-type: none;
}

.navigation-buttons ul li a {
  box-sizing: border-box;
  text-align: center;
  position: relative;

  display: block;

  text-decoration: none;
  color: white;

  font-size: 16px;

  transform: scale(1);
  transition: transform 0.3s ease;
}

.navigation-buttons ul li a:hover {
  display: flex;
  box-sizing: border-box;
  justify-items: center;

  background-color: #545E63;
  color: #becfd9;

  font-weight: 500;
  border-radius: 8px;

  height: 30px;
  width: 50px;

  padding: 5px;
}


.navigation-buttons ul li a:active {
  transform: scale(0.9);
}

#navigation-button-contact {
  box-sizing: border-box;
  display: block;

  font-weight: 500;
  text-align: center;

  padding: 5px;

  background-color: white;
  color: #545E63;

  border-radius: 8px;
  height: 30px;
  width: 70px;

}

#navigation-button-contact:hover {
  color: #28A0F9;
  cursor: pointer;
}

#navigation-button-contact:active {
  background-color: #C0C6CC;
}

/* GLOBAL_TEXT */
body p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;

  color: #545E63;
  opacity: 0.7;
}

/* PAGE_CONTENT */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0px;
  padding: 0px;

  font-family: 'Roboto', sans-serif;

  width: 100%;
}



/* PAGE_CONTAINER */
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.home-container {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}


/* ID_CARD_CONTAINER */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: #ffffff;
  box-shadow: 0px 10px 70px rgba(134, 134, 134, 0.2);

  border-radius: 30px;
  padding: 80px;

  transform: scale(1);
  transition: transform 0.2s ease-out;
}

.card:hover {
  transform: scale(1.05);
}

.profile-image {
  border-radius: 50%;
  height: 160px;
  width: 160px;
}

#profile-name {
  font-weight: 700;
  font-size: 35px;
  color: #545E63;
}

#subtitle-name {
  font-weight: 400;
  font-size: 20px;
  color: #9CADBC;

  margin-bottom: 30px;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  height: 40px;
}

.social-links a {
  color: white;
  background-color: #E1D4CE;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(134, 134, 134, 0.2);

  width: 45px;
  height: 45px;
}

.social-links a:hover {
  background-color: #c09782;
}

.social-links a:active {
  background-color: #7e6659;
}

.social-links a i {
  color: white;
}


/* FOOTER */
footer {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  z-index: 10;

  width: 100%;
  height: 30px;

  background-color: #545e63ee;
  color: white;
}

footer p {
  color: white;
}

footer ul {
  display: flex;
  flex-direction: row;

  gap: 20px;

  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
  color: white;
}


/* H1_TITLES */

h1 {
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #28A0F9;
}

/* ABOUT_ME_CONTAINER */
.about-me-container {
  box-sizing: border-box;

  margin-top: 20vh;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  gap: 120px;

  height: 100vh;
  width: 100%;
}

.about-me-row {
  user-select: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  width: 100%;
  max-width: 1000px;

  gap: 20px;
}

.about-me-row p {
  margin: 0px;
}

.motivation,
.career {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  flex: 1;
  gap: 10px;

  color: #9CADBC;

  background-color: rgba(0, 0, 0, .025);

  padding: 40px;
  border-radius: 30px;
}

.inCard-title {
  font-size: 22px;
  text-align: start;
  text-transform: none;

  color: #545E63;

  line-height: 30px;

  margin: 0px;
}

.interests ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  gap: 10px;
  flex-wrap: wrap;

  list-style-type: none;

  margin: 0px;
  padding: 0px;
}

.interests ul li {
  border: none;
  background-color: #9cadbca1;

  padding: 3px 6px 4px;
  border-radius: 5px;
  color: white;
}


/* CITIES SECTION */
.cities-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  position: relative;

  width: 100%;
  max-width: 1000px;
  height: 100%;

  gap: 20px;
}

#cities-title {
  margin: 0px;

  font-size: 32px;
  font-weight: bold;
  line-height: 42px;
  text-transform: none;

  color: #252525;
}

.interests {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  user-select: none;

  top: -60px;
  right: -60px;

  width: 100%;
  max-width: 25vw;
  gap: 10px;

  color: #9CADBC;

  background-color: rgb(255, 255, 255);

  padding: 40px;
  border-radius: 30px;
  box-shadow: 0px 10px 70px rgba(134, 134, 134, 0.5);
}

.map-container {
  width: 80%;
  height: 500px;
  min-height: 500px;
}

iframe {
  border: none;
}

.maps-show {
  display: none;
}

.active {
  display: block;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  width: 80%;

  gap: 20px;
}

.btns button:disabled {
  pointer-events: none;

  opacity: 0.5;
  color: rgba(0, 0, 0, .25);
  background-color: rgba(0, 0, 0, .1)
}

.btn {
  box-sizing: border-box;

  cursor: pointer;
  user-select: none;

  border: none;

  height: 40px;
  width: 40px;
  border-radius: 50%;

  background-color: rgba(0, 0, 0, .1);
  color: #252525;
}

.next,
.prev {
  transform: scale(1);
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.btn:hover {
  color: #28A0F9;

  background-color: rgba(40, 160, 249, 0.25);
}

.btn:active {
  background-color: rgba(40, 160, 249, 0.5);
  transform: scale(0.98);
}




/* CONTACT_ME_FORM */
label {
  font-family: 'Roboto';
  font-size: 14px;
  color: #39454C;
}

.form-centerizer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  min-height: 120vh;
}

.form-cell,
.required-cell {
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0px 12px;
  width: 410px;
  height: 40px;

  background-color: white;

  border: 2px solid #DDE7F0;
  border-radius: 10px;

  transition: transform 0.2s ease;
}

.form-cell:hover,
.required-cell:hover {
  transform: scale(0.99);
  border: 2.4px solid #a2c9eb;
}


#comment {
  height: 6em;
}

#submit-button:disabled,
#submit-button:hover:disabled {
  cursor: not-allowed;
  background-color: #289ef965;
  transform: none;
  transition: none;
  border: none;
}

#submit-button {
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 14px;

  color: white;
  background-color: #28A0F9;

  transform: scale(1);
  transition: transform 0.1s ease;
}

#submit-button:hover {
  background-color: #1e7dc6;
  cursor: pointer;
  transform: scale(1.01);
}

#submit-button:active {
  background-color: #175c90;
  transform: scale(0.98);
}